@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background: radial-gradient(circle, rgb(18, 18, 18) 20%, #090c10 100%);
}

li {
  list-style-type: circle;
}

.custom-class {
  fill: #0077B7;
}
.custom-class:hover {
  fill: #000;
}