@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #24292e;
}

li {
  list-style-type: circle;
}

.custom-class {
  fill: #24292e;
}
.custom-class:hover {
  fill: #B3EBF2;
}