@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #A259FF08;
}

li {
  list-style-type: circle;
}

.custom-class {
  fill: #5B88B2;
}
.custom-class:hover {
  fill: #FFFFFF;
}

/* Blinking cursor animation */
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}